## 0. Load imports

In [84]:
## imports
import pandas as pd
import numpy as np


## print multiple things from same cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 0. Load data

In [85]:
## load data on 2020 crimes in DC
df = dc_crim_2020 = pd.read_csv("https://opendata.arcgis.com/datasets/f516e0dd7b614b088ad781b0c4002331_2.csv")
dc_crim_2020.head()
dc_crim_2020.shape
dc_crim_2020.info()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-77.001753,38.821632,18048023,2020/10/21 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,4600 - 4799 BLOCK OF SOUTH CAPITOL STREET,399848.0,128205.0,...,009811 1,9811.0,Precinct 125,38.821624,-77.001750,NaN,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,495550729,NaN
1,-77.021403,38.915570,20129574,2020/09/10 22:22:38+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,620 - 699 BLOCK OF T STREET NW,398144.0,138633.0,...,004801 2,4801.0,Precinct 137,38.915562,-77.021401,NaN,2020/09/09 19:00:16+00,2020/09/10 20:22:11+00,495559019,NaN
2,-76.972226,38.854086,10147537,2020/12/21 05:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,2300 - 2499 BLOCK OF HARTFORD STREET SE,402411.0,131808.0,...,007408 2,7408.0,Precinct 115,38.854078,-76.972223,NaN,2010/10/10 02:00:00+00,NaN,495562868,NaN
3,-77.023981,38.900345,5370,2020/01/17 02:39:05+00,EVENING,OTHERS,THEFT F/AUTO,800 - 899 BLOCK OF 9TH STREET NW,397920.0,136943.0,...,005802 5,5802.0,Precinct 129,38.900337,-77.023979,DOWNTOWN,2020/01/11 02:48:51+00,2020/01/17 02:48:54+00,495562872,NaN
4,-76.972651,38.857491,10251445,2020/09/11 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,2300 - 2399 BLOCK OF AINGER PLACE SE,402374.0,132186.0,...,007502 1,7502.0,Precinct 134,38.857483,-76.972648,NaN,2010/09/02 04:00:00+00,2010/09/02 04:00:00+00,495562874,NaN

(27932, 25)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27932 entries, 0 to 27931
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     27932 non-null  float64
 1   Y                     27932 non-null  float64
 2   CCN                   27932 non-null  int64
 3   REPORT_DAT            27932 non-null  object
 4   SHIFT                 27932 non-null  object
 5   METHOD                27932 non-null  object
 6   OFFENSE               27932 non-null  object
 7   BLOCK                 27932 non-null  object
 8   XBLOCK                27932 non-null  float64
 9   YBLOCK                27932 non-null  float64
 10  WARD                  27932 non-null  int64
 11  ANC                   27932 non-null  object
 12  DISTRICT              27903 non-null  float64
 13  PSA                   27897 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  27932 non-null  object
 15  BLOCK_GROUP           27931 non-null  object
 16  CENSUS_TRACT          27931 non-null  float64
 17  VOTING_PRECINCT       27932 non-null  object
 18  LATITUDE              27932 non-null  float64
 19  LONGITUDE             27932 non-null  float64
 20  BID                   4658 non-null   object
 21  START_DATE            27932 non-null  object
 22  END_DATE              24851 non-null  object
 23  OBJECTID              27932 non-null  int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(10), int64(3), object(12)
memory usage: 5.3+ MB

#### Warm-up: Ways to add 100 to column X

In [19]:
for i, ddf in df.groupby("OFFENSE"):

SyntaxError: incomplete input (4125253458.py, line 1)

## 1. Aggregation

### Example of grouping by one variable and doing one aggregation 

**Task**: find and print the number of unique offense types (`OFFENSE`) by ward (`WARD`)

In [20]:
df1 = df.groupby("WARD")["OFFENSE"].unique()
df1.apply(len)

WARD
1    9
2    9
3    8
4    8
5    9
6    9
7    9
8    9
Name: OFFENSE, dtype: int64

In [84]:
df.groupby("WARD")["OFFENSE"].nunique()

WARD
1    9
2    9
3    8
4    8
5    9
6    9
7    9
8    9
Name: OFFENSE, dtype: int64

array(['MOTOR VEHICLE THEFT', 'BURGLARY', 'THEFT F/AUTO', 'THEFT/OTHER',
       'ROBBERY', 'ASSAULT W/DANGEROUS WEAPON', 'HOMICIDE', 'SEX ABUSE',
       'ARSON'], dtype=object)

### Example of grouping by one variable and providing two summaries of the same variable

**Task**: previous showed number of offenses by ward but want to find out content of offenses in each ward; create an aggregation that summarizes both the number of unique offenses by ward and what those offenses are -- for instance, by pasting the unique offenses in that ward separated by the ";" (e.g., Theft; Burglary;...)

*Hint*: you can use the join command to paste together a list separated by some delimiter. 
    - The syntax, if we are using the comma delimiter, is: ", ".join(nameoflist)

In [86]:
list(df1.items())

[(1,
  array(['MOTOR VEHICLE THEFT', 'BURGLARY', 'THEFT F/AUTO', 'THEFT/OTHER',
         'ROBBERY', 'ASSAULT W/DANGEROUS WEAPON', 'HOMICIDE', 'SEX ABUSE',
         'ARSON'], dtype=object)),
 (2,
  array(['THEFT F/AUTO', 'THEFT/OTHER', 'BURGLARY',
         'ASSAULT W/DANGEROUS WEAPON', 'MOTOR VEHICLE THEFT', 'ROBBERY',
         'ARSON', 'SEX ABUSE', 'HOMICIDE'], dtype=object)),
 (3,
  array(['THEFT F/AUTO', 'THEFT/OTHER', 'MOTOR VEHICLE THEFT', 'SEX ABUSE',
         'ROBBERY', 'BURGLARY', 'ASSAULT W/DANGEROUS WEAPON', 'HOMICIDE'],
        dtype=object)),
 (4,
  array(['THEFT/OTHER', 'THEFT F/AUTO', 'ROBBERY', 'MOTOR VEHICLE THEFT',
         'BURGLARY', 'ASSAULT W/DANGEROUS WEAPON', 'SEX ABUSE', 'HOMICIDE'],
        dtype=object)),
 (5,
  array(['THEFT F/AUTO', 'THEFT/OTHER', 'BURGLARY', 'MOTOR VEHICLE THEFT',
         'ROBBERY', 'ASSAULT W/DANGEROUS WEAPON', 'SEX ABUSE', 'HOMICIDE',
         'ARSON'], dtype=object)),
 (6,
  array(['THEFT/OTHER', 'THEFT F/AUTO', 'ASSAULT W/DANGEROUS WEAPON',
         'MOTOR VEHICLE THEFT', 'ROBBERY', 'BURGLARY', 'SEX ABUSE',
         'HOMICIDE', 'ARSON'], dtype=object)),
 (7,
  array(['THEFT/OTHER', 'MOTOR VEHICLE THEFT', 'THEFT F/AUTO', 'ROBBERY',
         'ASSAULT W/DANGEROUS WEAPON', 'BURGLARY', 'SEX ABUSE', 'HOMICIDE',
         'ARSON'], dtype=object)),
 (8,
  array(['HOMICIDE', 'THEFT/OTHER', 'THEFT F/AUTO', 'BURGLARY',
         'MOTOR VEHICLE THEFT', 'ASSAULT W/DANGEROUS WEAPON', 'ROBBERY',
         'SEX ABUSE', 'ARSON'], dtype=object))]

In [21]:
df1 = df.groupby("WARD")["OFFENSE"].unique()
def count_fx(x):
    return len(x)

def join_text(x):
    return ";".join(x)

new_list =[]
for i, l in list (df1.items()):
    new_list.append(join_text(l))

df1.apply(count_fx)
df2 = df1.reset_index()
df2["unqiue_off_by_ward"] = new_list 
df2

WARD
1    9
2    9
3    8
4    8
5    9
6    9
7    9
8    9
Name: OFFENSE, dtype: int64

,WARD,OFFENSE,unqiue_off_by_ward
0,1,"[MOTOR VEHICLE THEFT, BURGLARY, THEFT F/AUTO, ...",MOTOR VEHICLE THEFT;BURGLARY;THEFT F/AUTO;THEF...
1,2,"[THEFT F/AUTO, THEFT/OTHER, BURGLARY, ASSAULT ...",THEFT F/AUTO;THEFT/OTHER;BURGLARY;ASSAULT W/DA...
2,3,"[THEFT F/AUTO, THEFT/OTHER, MOTOR VEHICLE THEF...",THEFT F/AUTO;THEFT/OTHER;MOTOR VEHICLE THEFT;S...
3,4,"[THEFT/OTHER, THEFT F/AUTO, ROBBERY, MOTOR VEH...",THEFT/OTHER;THEFT F/AUTO;ROBBERY;MOTOR VEHICLE...
4,5,"[THEFT F/AUTO, THEFT/OTHER, BURGLARY, MOTOR VE...",THEFT F/AUTO;THEFT/OTHER;BURGLARY;MOTOR VEHICL...
5,6,"[THEFT/OTHER, THEFT F/AUTO, ASSAULT W/DANGEROU...",THEFT/OTHER;THEFT F/AUTO;ASSAULT W/DANGEROUS W...
6,7,"[THEFT/OTHER, MOTOR VEHICLE THEFT, THEFT F/AUT...",THEFT/OTHER;MOTOR VEHICLE THEFT;THEFT F/AUTO;R...
7,8,"[HOMICIDE, THEFT/OTHER, THEFT F/AUTO, BURGLARY...",HOMICIDE;THEFT/OTHER;THEFT F/AUTO;BURGLARY;MOT...

In [94]:
df1.iloc[0]

level_0                                                             0
index                                                               0
WARD                                                                1
OFFENSE             [MOTOR VEHICLE THEFT, BURGLARY, THEFT F/AUTO, ...
nuniques                                                            9
uniq_off_by_ward                                                    9
Name: 0, dtype: object

In [22]:
df1 = df1.reset_index()
df1["nuniques"] = df1.OFFENSE.apply(len)
df1["uniq_off_by_ward"] = df1.OFFENSE.apply(len)
df1

,WARD,OFFENSE,nuniques,uniq_off_by_ward
0,1,"[MOTOR VEHICLE THEFT, BURGLARY, THEFT F/AUTO, ...",9,9
1,2,"[THEFT F/AUTO, THEFT/OTHER, BURGLARY, ASSAULT ...",9,9
2,3,"[THEFT F/AUTO, THEFT/OTHER, MOTOR VEHICLE THEF...",8,8
3,4,"[THEFT/OTHER, THEFT F/AUTO, ROBBERY, MOTOR VEH...",8,8
4,5,"[THEFT F/AUTO, THEFT/OTHER, BURGLARY, MOTOR VE...",9,9
5,6,"[THEFT/OTHER, THEFT F/AUTO, ASSAULT W/DANGEROU...",9,9
6,7,"[THEFT/OTHER, MOTOR VEHICLE THEFT, THEFT F/AUT...",9,9
7,8,"[HOMICIDE, THEFT/OTHER, THEFT F/AUTO, BURGLARY...",9,9

### Example of grouping by two variables 

**Task**: group by ward (`WARD`) and police shift (`SHIFT`) and find the offense that is most common in that ward and shift

In [23]:
df.groupby(["WARD","SHIFT"]).agg( 
    {
        "OFFENSE": lambda x: x.mode()
    }
).reset_index()

    WARD     SHIFT                     OFFENSE
0      1       DAY                 THEFT/OTHER
1      1   EVENING                 THEFT/OTHER
2      1  MIDNIGHT                 THEFT/OTHER
3      2       DAY                 THEFT/OTHER
4      2   EVENING                 THEFT/OTHER
5      2  MIDNIGHT                 THEFT/OTHER
6      3       DAY                 THEFT/OTHER
7      3   EVENING                 THEFT/OTHER
8      3  MIDNIGHT                 THEFT/OTHER
9      4       DAY                THEFT F/AUTO
10     4   EVENING                 THEFT/OTHER
11     4  MIDNIGHT                 THEFT/OTHER
12     5       DAY                THEFT F/AUTO
13     5   EVENING                 THEFT/OTHER
14     5  MIDNIGHT                 THEFT/OTHER
15     6       DAY                 THEFT/OTHER
16     6   EVENING                 THEFT/OTHER
17     6  MIDNIGHT                 THEFT/OTHER
18     7       DAY                THEFT F/AUTO
19     7   EVENING                 THEFT/OTHER
20     7  MIDNIGHT                 THEFT/OTHER
21     8       DAY                THEFT F/AUTO
22     8   EVENING                 THEFT/OTHER
23     8  MIDNIGHT  ASSAULT W/DANGEROUS WEAPON

## Summarizing over all rows or all columns (without grouping)

We can also use the `apply` function to summarize rows or columns efficiently

**Task**: find the mean lat and longitude in one line of code

In [24]:
df[["X", "Y"]].apply(np.mean, axis = 0)

X   -77.00705
Y    38.90762
dtype: float64

In [25]:
df[["X", "Y"]].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of                X          Y
0     -77.001753  38.821632
1     -77.021403  38.915570
2     -76.972226  38.854086
3     -77.023981  38.900345
4     -76.972651  38.857491
...          ...        ...
27927 -77.022504  38.931298
27928 -77.029625  38.916649
27929 -76.978007  38.935090
27930 -76.929229  38.901839
27931 -77.044163  38.912608

[27932 rows x 2 columns]>

In [104]:
df.columns

Index(['X', 'Y', 'CCN', 'REPORT_DAT', 'SHIFT', 'METHOD', 'OFFENSE', 'BLOCK',
       'XBLOCK', 'YBLOCK', 'WARD', 'ANC', 'DISTRICT', 'PSA',
       'NEIGHBORHOOD_CLUSTER', 'BLOCK_GROUP', 'CENSUS_TRACT',
       'VOTING_PRECINCT', 'LATITUDE', 'LONGITUDE', 'BID', 'START_DATE',
       'END_DATE', 'OBJECTID', 'OCTO_RECORD_ID'],
      dtype='object')

## 2. Creating new columns/transforming their type

### Simple filtering

`np.where` is in the numpy package (aliased as `np`) and operates similar to `ifelse` in R

But there is a built in pandas way to emulate this.

**Task**: create an indicator `is_theft` for any offense that contains the word "THEFT"
    
**Task**: create an indicator `is_theft_notmotor` for any offense that contains the word "THEFT" but does not contain the word "MOTOR"

In [44]:
import pandas as pd
pd.to_datetime( )

TypeError: to_datetime() missing 1 required positional argument: 'arg'

In [54]:
import pandas as pd

df['is_theft'] = df['OFFENSE'].str.contains('THEFT')
df

#df['is_theft_nonmoter'] = df['OFFENSE'].str.contains('THEFT','MOTOR', case = TRUE) 
df['is_theft_notmotor'] = df['OFFENSE'].str.contains('THEFT', case=False) & ~df['OFFENSE'].str.contains('MOTOR')
df

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,is_theft
0,-77.001753,38.821632,18048023,2020/10/21 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,4600 - 4799 BLOCK OF SOUTH CAPITOL STREET,399848.0,128205.0,...,9811.0,Precinct 125,38.821624,-77.001750,NaN,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,495550729,NaN,False
1,-77.021403,38.915570,20129574,2020/09/10 22:22:38+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,620 - 699 BLOCK OF T STREET NW,398144.0,138633.0,...,4801.0,Precinct 137,38.915562,-77.021401,NaN,2020/09/09 19:00:16+00,2020/09/10 20:22:11+00,495559019,NaN,True
2,-76.972226,38.854086,10147537,2020/12/21 05:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,2300 - 2499 BLOCK OF HARTFORD STREET SE,402411.0,131808.0,...,7408.0,Precinct 115,38.854078,-76.972223,NaN,2010/10/10 02:00:00+00,NaN,495562868,NaN,False
3,-77.023981,38.900345,5370,2020/01/17 02:39:05+00,EVENING,OTHERS,THEFT F/AUTO,800 - 899 BLOCK OF 9TH STREET NW,397920.0,136943.0,...,5802.0,Precinct 129,38.900337,-77.023979,DOWNTOWN,2020/01/11 02:48:51+00,2020/01/17 02:48:54+00,495562872,NaN,True
4,-76.972651,38.857491,10251445,2020/09/11 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,2300 - 2399 BLOCK OF AINGER PLACE SE,402374.0,132186.0,...,7502.0,Precinct 134,38.857483,-76.972648,NaN,2010/09/02 04:00:00+00,2010/09/02 04:00:00+00,495562874,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27927,-77.022504,38.931298,20138697,2020/09/28 23:17:20+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,600 - 699 BLOCK OF LAMONT STREET NW,398049.0,140379.0,...,3200.0,Precinct 38,38.931290,-77.022501,NaN,2020/09/28 06:15:47+00,2020/09/28 22:49:42+00,496083278,NaN,True
27928,-77.029625,38.916649,20135664,2020/09/23 01:13:32+00,EVENING,OTHERS,THEFT F/AUTO,1914 - 1999 BLOCK OF 13TH STREET NW,397431.0,138753.0,...,4402.0,Precinct 22,38.916641,-77.029623,NaN,2020/09/22 20:44:24+00,2020/09/22 20:55:26+00,496083279,NaN,True
27929,-76.978007,38.935090,20135701,2020/09/23 01:46:19+00,EVENING,OTHERS,THEFT F/AUTO,1800 - 1999 BLOCK OF OTIS STREET NE,401907.0,140800.0,...,9400.0,Precinct 69,38.935083,-76.978005,NaN,2020/09/22 21:00:15+00,2020/09/22 23:00:21+00,496083280,NaN,True
27930,-76.929229,38.901839,20001277,2020/01/03 02:45:11+00,EVENING,OTHERS,THEFT F/AUTO,4916 - 5067 BLOCK OF JAY STREET NE,406139.0,137111.0,...,7809.0,Precinct 94,38.901832,-76.929227,NaN,2020/01/03 02:37:20+00,2020/01/03 02:39:04+00,496083288,NaN,True
27931,-77.044163,38.912608,20001739,2020/01/03 22:10:56+00,EVENING,OTHERS,THEFT/OTHER,1900 - 1999 BLOCK OF R STREET NW,396170.0,138305.0,...,4202.0,Precinct 14,38.912601,-77.044161,NaN,2020/01/02 17:45:04+00,2020/01/03 02:00:33+00,496083289,NaN,True

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,is_theft,is_theft_notmotor
0,-77.001753,38.821632,18048023,2020/10/21 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,4600 - 4799 BLOCK OF SOUTH CAPITOL STREET,399848.0,128205.0,...,Precinct 125,38.821624,-77.001750,NaN,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,495550729,NaN,False,False
1,-77.021403,38.915570,20129574,2020/09/10 22:22:38+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,620 - 699 BLOCK OF T STREET NW,398144.0,138633.0,...,Precinct 137,38.915562,-77.021401,NaN,2020/09/09 19:00:16+00,2020/09/10 20:22:11+00,495559019,NaN,True,False
2,-76.972226,38.854086,10147537,2020/12/21 05:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,2300 - 2499 BLOCK OF HARTFORD STREET SE,402411.0,131808.0,...,Precinct 115,38.854078,-76.972223,NaN,2010/10/10 02:00:00+00,NaN,495562868,NaN,False,False
3,-77.023981,38.900345,5370,2020/01/17 02:39:05+00,EVENING,OTHERS,THEFT F/AUTO,800 - 899 BLOCK OF 9TH STREET NW,397920.0,136943.0,...,Precinct 129,38.900337,-77.023979,DOWNTOWN,2020/01/11 02:48:51+00,2020/01/17 02:48:54+00,495562872,NaN,True,True
4,-76.972651,38.857491,10251445,2020/09/11 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,2300 - 2399 BLOCK OF AINGER PLACE SE,402374.0,132186.0,...,Precinct 134,38.857483,-76.972648,NaN,2010/09/02 04:00:00+00,2010/09/02 04:00:00+00,495562874,NaN,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27927,-77.022504,38.931298,20138697,2020/09/28 23:17:20+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,600 - 699 BLOCK OF LAMONT STREET NW,398049.0,140379.0,...,Precinct 38,38.931290,-77.022501,NaN,2020/09/28 06:15:47+00,2020/09/28 22:49:42+00,496083278,NaN,True,False
27928,-77.029625,38.916649,20135664,2020/09/23 01:13:32+00,EVENING,OTHERS,THEFT F/AUTO,1914 - 1999 BLOCK OF 13TH STREET NW,397431.0,138753.0,...,Precinct 22,38.916641,-77.029623,NaN,2020/09/22 20:44:24+00,2020/09/22 20:55:26+00,496083279,NaN,True,True
27929,-76.978007,38.935090,20135701,2020/09/23 01:46:19+00,EVENING,OTHERS,THEFT F/AUTO,1800 - 1999 BLOCK OF OTIS STREET NE,401907.0,140800.0,...,Precinct 69,38.935083,-76.978005,NaN,2020/09/22 21:00:15+00,2020/09/22 23:00:21+00,496083280,NaN,True,True
27930,-76.929229,38.901839,20001277,2020/01/03 02:45:11+00,EVENING,OTHERS,THEFT F/AUTO,4916 - 5067 BLOCK OF JAY STREET NE,406139.0,137111.0,...,Precinct 94,38.901832,-76.929227,NaN,2020/01/03 02:37:20+00,2020/01/03 02:39:04+00,496083288,NaN,True,True
27931,-77.044163,38.912608,20001739,2020/01/03 22:10:56+00,EVENING,OTHERS,THEFT/OTHER,1900 - 1999 BLOCK OF R STREET NW,396170.0,138305.0,...,Precinct 14,38.912601,-77.044161,NaN,2020/01/02 17:45:04+00,2020/01/03 02:00:33+00,496083289,NaN,True,True

In [80]:
df
df["is_theft"] = np.where(df.OFFENSE.str.contains("Theft"),True, False)

df["is_theft_notmotor"] = df.OFFENSE.str.contains("Theft") & ~df.OFFENSE.str.contains("Motor")
# didnt work

              Offense
0      THEFT WITH GUN
1            BURGLARY
2  ROBBERY WITH KNIFE
3             ASSAULT
4              MURDER
5               FRAUD

AttributeError: 'DataFrame' object has no attribute 'OFFENSE'

### np.select

**Task**: create a new variable, `offense_summary`, where you:
        
- Recode theft offenses that use a gun or knife as the method (`METHOD`) as: violent theft
- Recode non-theft offenses that use a gun or knife as the method as: violent other
- Recode all other as non-violent

In [73]:
df 
cats = ["Violent_Crime", "Non_Violent"]

conditions = [
    df.OFFENSE.str.contains("Gun") & df.OFFENSE.str.contains("Knife") & df.OFFENSE.str.contains("Theft"),
    df.OFFENSE.str.contains("Gun") & df.OFFENSE.str.contains("Knife") & df.OFFENSE.str.contains("Theft") ~
    
    
    
    
offense_summary = df['OFFENSE'].str.contains("METHOD")
offense_summary

SyntaxError: invalid syntax. Perhaps you forgot a comma? (989420453.py, line 5)

In [68]:
df   
offense_summary = df['OFFENSE'].str.contains("METHOD")
offense_summary

              Offense
0      THEFT WITH GUN
1            BURGLARY
2  ROBBERY WITH KNIFE
3             ASSAULT
4              MURDER
5               FRAUD

KeyError: 'OFFENSE'

In [ ]:
conditions = [
    (df['Offense'].str.contains('THEFT') & (df['Offense'].str.contains('GUN') | df['Offense'].str.contains('KNIFE'))),
    (~df['Offense'].str.contains('THEFT') & (df['Offense'].str.contains('GUN') | df['Offense'].str.contains('KNIFE')))
]

values = ['violent theft', 'violent other']
df['offense_summary'] = np.select(conditions, values, default='non-violent')

In [86]:

categories = ["violent theft", "violent other"]
conditions = [(df['is_theft']== True) & (df['METHOD'].str.contains("GUN", "KNIFE")),
              (df['is_theft'] == False) & (df['METHOD'].str.contains("GUN", "KNIFE"))]

df["offense_summary"] = np.select( conditions, categories, default = "non-violent")
print(df[["METHOD", "is_theft", "offense_summary"]])

KeyError: 'is_theft'

### map.recode

**Task**: recode shifts that are MIDNIGHT or EVENING as "nighttime"; code other shift to daytime

In [88]:
SHIFTS = ["MIDNIGHT", "EVENING", "DAY"]

new_period = ["nighttimes", "nighttimes", "daytime"]
convert_dict = dict(zip(SHIFTS, new_period))

df["SHIFT_NEW"] = df.SHIFT.map(convert_dict) 
df.SHIFT_NEW.unique()

array(['nighttimes', 'daytime'], dtype=object)

In [91]:
cat = ["nighttime"]
condition = [df.SHIFT.isin(["MIDNIGHT", "EVENING"])]
df["SHIFT_RECODE"] = np.select(condition, cat, default = "daytime")
df.SHIFT_RECODE.values_counts()

AttributeError: 'Series' object has no attribute 'values_counts'

### Using built-in pandas methods

Another way of creating variables, used either alone or in combination with np.where and np.select is to use pandas built in `str` methods

Basic structure is: `df['namestringcol'].str.someoperation`

**Task**: using a `str` method, create a new variable--`OFFENSE_NOSP`--that replaces spaces in the `OFFENSE` column with underscores

In [92]:
df["OFFENSE_NOSP"] = df.OFFENSE.str.replace(" ")
df.OFFENSE_NOSP

TypeError: StringMethods.replace() missing 1 required positional argument: 'repl'

### Transforming column types

**Task**: check the type of the `START_DATE` column

In [93]:
df.START_DATE.dtype

dtype('O')

**Task**: recast the `START_DATE` column to datetime, calling this `START_DATE_CLEAN`; coerce errors rather than cleaning the string; check the type of that new col

In [97]:
df["START_DATE_CLEAN"] = pd.to_datetime(df.START_DATE,) 
df.START_DATE_CLEAN

0       2018-03-26 08:40:06+00:00
1       2020-09-09 19:00:16+00:00
2       2010-10-10 02:00:00+00:00
3       2020-01-11 02:48:51+00:00
4       2010-09-02 04:00:00+00:00
                   ...
27927   2020-09-28 06:15:47+00:00
27928   2020-09-22 20:44:24+00:00
27929   2020-09-22 21:00:15+00:00
27930   2020-01-03 02:37:20+00:00
27931   2020-01-02 17:45:04+00:00
Name: START_DATE_CLEAN, Length: 27932, dtype: datetime64[ns, UTC]

**Task:** print the min and max of `START_DATE_CLEAN`. What happens if you try to do this with `START_DATE`?

In [101]:
df.START_DATE_CLEAN.agg([max, min])
df.START_DATE.agg([max, min])

max   2021-01-01 02:30:21+00:00
min   1940-02-17 00:00:16+00:00
Name: START_DATE_CLEAN, dtype: datetime64[ns, UTC]

max    2021/01/01 02:30:21+00
min    1940/02/17 00:00:16+00
Name: START_DATE, dtype: object

## 3. Row and column filtering

### Row subsetting

**Task**: filter to crime reports about theft using the `is_theft` definition and that are in ward 3

In [103]:
df[("is_theft")]

Index(['X', 'Y', 'CCN', 'REPORT_DAT', 'SHIFT', 'METHOD', 'OFFENSE', 'BLOCK',
       'XBLOCK', 'YBLOCK', 'WARD', 'ANC', 'DISTRICT', 'PSA',
       'NEIGHBORHOOD_CLUSTER', 'BLOCK_GROUP', 'CENSUS_TRACT',
       'VOTING_PRECINCT', 'LATITUDE', 'LONGITUDE', 'BID', 'START_DATE',
       'END_DATE', 'OBJECTID', 'OCTO_RECORD_ID', 'SHIFT_NEW', 'SHIFT_RECODE',
       'START_DATE_CLEAN'],
      dtype='object')

In [120]:
CATALOG = ["QSS20", "QSS45", "GOV10"]

for c in CATALOG:
    if "QSS" in c:
        print(c)

QSS20
QSS45

In [121]:
"QSS" in "334QSS20"

True

In [112]:
df["is_theft"] = df.OFFENSE("ward 3")
df

TypeError: 'Series' object is not callable

In [104]:
dir( )

['In',
 'InteractiveShell',
 'Out',
 'SHIFTS',
 '_',
 '_101',
 '_103',
 '_18',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_40',
 '_45',
 '_46',
 '_47',
 '_48',
 '_49',
 '_51',
 '_52',
 '_54',
 '_56',
 '_66',
 '_67',
 '_68',
 '_76',
 '_77',
 '_78',
 '_80',
 '_82',
 '_85',
 '_87',
 '_88',
 '_89',
 '_93',
 '_97',
 '_98',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i104',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'cat',
 'categories',
 'condition',
 'convert_dict',
 'count_fx',
 'data',
 'dc_crim_2020',
 'df',
 'df1',
 'df2',
 'exit',
 'get_ipython',
 'i',
 'join_text',
 'l',
 'new_list',
 'new_period',
 'np',
 'offense_summary',
 'pd',
 'quit']

### Column subsetting

**Task**: select two columns--`START_DATE` and `END_DATE`--and print the head of the dataframe

In [130]:
df[["START_DATE, ]]

SyntaxError: unterminated string literal (detected at line 1) (2186560106.py, line 1)

**Task**: use list comprehension to automate this a bit and select all columns with the word "DATE" in the name; print the head of the dataframe

In [131]:
df[[c for c in df.columns if "DATE" in c ]]

,START_DATE,END_DATE,START_DATE_CLEAN
0,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,2018-03-26 08:40:06+00:00
1,2020/09/09 19:00:16+00,2020/09/10 20:22:11+00,2020-09-09 19:00:16+00:00
2,2010/10/10 02:00:00+00,NaN,2010-10-10 02:00:00+00:00
3,2020/01/11 02:48:51+00,2020/01/17 02:48:54+00,2020-01-11 02:48:51+00:00
4,2010/09/02 04:00:00+00,2010/09/02 04:00:00+00,2010-09-02 04:00:00+00:00
...,...,...,...
27927,2020/09/28 06:15:47+00,2020/09/28 22:49:42+00,2020-09-28 06:15:47+00:00
27928,2020/09/22 20:44:24+00,2020/09/22 20:55:26+00,2020-09-22 20:44:24+00:00
27929,2020/09/22 21:00:15+00,2020/09/22 23:00:21+00,2020-09-22 21:00:15+00:00
27930,2020/01/03 02:37:20+00,2020/01/03 02:39:04+00,2020-01-03 02:37:20+00:00
27931,2020/01/02 17:45:04+00,2020/01/03 02:00:33+00,2020-01-02 17:45:04+00:00

**Task**: filter reports of crime in `START_DATE_CLEAN` before May 2020 and that are located in ward 1; select the ward and `START_DATE` column and print a random sample of rows

In [134]:
df.START_DATE_CLEAN.head()

df[ (df.START_DATE_CLEAN < "2020-05-01") & (df.WARD == 1)][["WARD", "START_DATE"]].sample(frac=0.1)

0   2018-03-26 08:40:06+00:00
1   2020-09-09 19:00:16+00:00
2   2010-10-10 02:00:00+00:00
3   2020-01-11 02:48:51+00:00
4   2010-09-02 04:00:00+00:00
Name: START_DATE_CLEAN, dtype: datetime64[ns, UTC]

       WARD              START_DATE
9458      1  2020/03/17 07:00:02+00
24790     1  2020/04/06 06:48:21+00
16492     1  2020/01/21 21:42:52+00
9955      1  2020/02/08 15:12:26+00
27791     1  2020/02/07 14:04:57+00
...     ...                     ...
7236      1  2020/02/08 02:39:09+00
22893     1  2020/04/25 17:12:11+00
6976      1  2020/01/22 13:00:34+00
8405      1  2020/04/22 15:00:32+00
12341     1  2020/01/13 23:19:43+00

[115 rows x 2 columns]